
#boardHdr{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    font-size: 22px;
    font-weight: bolder;
    color: #000;
    display: flex;
    margin-bottom: 15px;
}
.tasklist{
    background-color: rgb(231, 210, 113);
    margin:10px;
    border-radius:6px;
    padding:7px;
}
 #removebtn{
     background-color:rgb(216, 6, 6);
    }
.menu-block{
    padding:160px;
    margin-right:10px;
    height:100vh;
    background-color: #2e3b63;
    display: block;
    text-align:left;
} 
.project-block-holder{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}
.project-block{
    justify-content:space-between;
    width:250px;
    padding:60px;
    border-radius:8px;
    background-color:lightseagreen;
    box-shadow: 1px 1px 4px #888888;

}
input{
    border-radius:5px;
    font-size:20px;
    width:1110px;
    padding:8px;
}
.round-button{
    border-radius:5px;
}
button{
    border:none;
    color:white;
    font-size:20px;
    background-color:#0FBA54;
    padding:15px;    
    margin-top:15px;
    /* margin-right:40px; */
    border-radius:4px;
    box-shadow: 1px 3px 4px #888888;
}
.board-block{
    margin-top: 3%;
    display:none;    
} 
.board-container{
    padding:3%;
}
.container{
    font-size: 20px;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;

}