header{
    font-size:30px;
    font-family:sans-serif;
    background-color: rgb(0,116,128);
    padding:1%;
    border-radius:10px;
}

.menu-block{
    padding:160px;
    margin-right:10px;
    height:100vh;
    background-color: #2e3b63;
    display: block;
    text-align:left;
} 
.project-block-holder{
    display:flex;
    margin:40px;
    flex-direction: row;
    justify-content: space-between;

}
.project-block{
    width:300px;
    margin:10px;
    padding:60px;
    border-radius:8px;
    background-color:lightseagreen;
    box-shadow: 1px 1px 4px #888888;

}
input{
    border-radius:5px;
    font-size:20px;
    width:1200px;
    padding:8px;
    margin:18px;

}
.round-button{
    border-radius:5px;
}
button{
    border:none;
    color:white;
    font-size:20px;
    background-color:#0FBA54;
    padding:10px;    
    margin:15px;
    margin-right:40px;
    box-shadow: 1px 1px 4px #888888;
}
.board-block{
    margin-top: 3%;
    display:none;    
} 
.container{
    font-size: 20px;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;

}